@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

.ptk-accordian-container {
  font-family: "Roboto", sans-serif;
  width: 50%;
}
.accordian {
  background-color: cadetblue;
  padding: 10px;
  margin: 0px;
  border: 1px solid white;
}
.accordian-header {
  color: black;
}
.accordian-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accordian-data {
  word-break: break-word;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.5s ease-out;
  -moz-transition: max-height 0.5s ease-out;
  transition: max-height 0.5s ease-out;
}
.accordian-data.show {
  max-height: 200px;
}
