@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

.ptk-accordion-container {
  font-family: "Roboto", sans-serif;
  width: 50%;
}
.accordion {
  background-color: cadetblue;
  padding: 10px;
  margin: 0px;
  border: 1px solid white;
}
.accordion-header {
  color: black;
}
.accordion-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accordion-data {
  word-break: break-word;
  max-height: 0;
  overflow: hidden;
}
.accordion-data.active {
  max-height: 200px;
}
